{% load staticfiles %}
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{% static 'PyBoard/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'PyBoard/css/bootstrap-theme.min.css' %}" rel="stylesheet">
		<script src="{% static 'PyBoard/js/jquery-2.2.3.min.js' %}"></script>
		<script src="{% static 'PyBoard/js/bootstrap.min.js' %}"></script>
		<title>Python Board</title>
		<style>
			body {
				padding-top: 70px;
			}
			header {
			}
			.second-title-space {
				padding-bottom: 10px;
			}
		</style>
		{% block exhead %}
		{% endblock %}
	</head>
	<body>
		<!-- Navigation Start -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-pattern">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{% url 'PyBoard:index' %}">Python Board</a>
					<p class="navbar-text ">
					{% if signin_username %}
						こんにちは。{{ signin_username }}さん。
					{% else %}
						こんにちは。ゲストさん。
					{% endif %}
					</p>
				</div>
				<div id="collapse-pattern" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{% url 'PyBoard:index' %}">Top</a></li>
					<li><a href="{% url 'PyBoard:about' %}">About</a></li>
					<li class="dropdown">
						<a data-toggle="dropdown" 
							role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'PyBoard:signin' %}">Sign in</a></li>
							<li><a href="{% url 'PyBoard:signout' %}">Sign out</a></li>
							<li><a href="{% url 'PyBoard:signup' %}">Sign up</a></li>
						</ul>
					</li>
				</ul>
				</div>
			</div>
		</nav>
		<!-- Navigation End -->
		<div class="container">
			<!-- Header Start -->
			<header>
				<div class="row">
					<div class="col-sm-12">
						<h1>Python Board</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<p>Pythonについて気軽に話し合おう</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<hr style="margin:0px 0px 10px 0px;" >
					</div>
				</div>
			</header>
			<!-- Header End -->

			<!-- Main Start -->
			{% block contents %}
			{% endblock %}
			<!-- Main End -->

			<!-- Footer Start -->
			<footer>
			</footer>
			<!-- Footer End -->
		</div>
	</body>
</html>
