{% extends "base.html" %}
{% block contents %}
<button type="button" class="btn btn-default">トピックを立てる</button>
	<table class="table table-bordered table-striped">
		<thead>
			<tr class="something">
				<th class="col-md-7">トピック</th>
				<th class="col-md-1" align="center">投稿数</th>
				<th class="col-md-2">作成日時</th>
				<th class="col-md-2">更新日時</th>
			</tr>
		</thead>
		<!-- レイアウトテスト -->
		<!--
		<tbody>
			<tr class="something">
				<td class="col-md-7">テストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテスト</td>
				<td class="col-md-1">999</td>
				<td class="col-md-2">テスト</td>
				<td class="col-md-2">テスト</td>
			</tr>
			<tr class="something">
				<td class="col-md-7">テスト</td>
				<td class="col-md-1">999</td>
				<td class="col-md-2">テスト</td>
				<td class="col-md-2">テスト</td>
			</tr>
			<tr class="something">
				<td class="col-md-7">テスト</td>
				<td class="col-md-1">999</td>
				<td class="col-md-2">テスト</td>
				<td class="col-md-2">テスト</td>
			</tr>
		</tbody>
		-->
	</table>
{{ contents }}
{% endblock %}
