{% extends "base.html" %}
{% block exhead %}
	<style>
		.item-space {
			padding-bottom: 20px;
		}
		.error-message {
			color: #FF0000;
		}
	</style>
{% endblock %}
{% block contents %}
<h3>新しいトピック</h3>
	<form method="post" action="{% url 'PyBoard:create' %}">
		{% csrf_token %}
		<div class="form-group">
			<div class="row">
				<div class="col-sm-6">
					{{ form.title.label }}
				</div>
				<div class="col-sm-7">
					{{ form.title }}
				</div>
			</div>
			<div class="item-space"></div>
			<div class="row">
				<div class="col-sm-8">
					{{ form.text }}
				</div>
			</div>
		</div>
		<input type="submit" class="btn btn-success" value="投稿"></input>
	</form>
{% endblock %}
